body {
    background-image: url("/assets/img/bg-image.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins;
}

.life-at-smc-title {
    color: #1961AC;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.life-at-smc-content {
    text-align: justify;
}

.current-opening-title {
    color: #1961AC;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.bg-section-opening {
    background-color: #1961AC;
    border-radius: 0px 150px 150px 0px;
    padding: 40px 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}

.opening-card {
    background-color: #92C840;
    width: 100%;
    max-width: 380px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid white;
}

.job-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    font-weight: 700 !important;
    color: white;
}

.job-description {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
}

.apply-btn {
    color: white;
    background-color: transparent;
    padding: 6px 20px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid;
}



.career-question-title {
    color: #1961AC;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.custom-accordion-button {
    color: #599030 !important;
    background-color: #E9F4E0 !important;
}

.smc-life-banner{
    margin-left: 15px;
}

/* footer */

.newsletter-bg {
    background-color: #79C142;
}

.footer-bottom {
    background-color: #79C142;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

footer.bg-primary {
    background-color: #1961AC !important;
}

.footer-wrapper {
    position: relative;
    padding-top: 10px;
    /* Creates space above footer for the overlapping newsletter */
}

.newsletter-section {
    top: -60px;
    /* Controls how much the newsletter overlaps */
    max-width: 1100px;
}

.list-link {
    line-height: 30px;
}

.footer-bottom-stripe {
    border-radius: 30px;
    clip-path: ellipse(800px 120% at bottom);
    width: 100%;
}