body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-image: url("/assets/img/slider-bg.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-navbar {
  background-color: #1961AC;
}

.navbar-brand img {
  height: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  /* optional: slightly rounds the corners */
}

.nav-link {
  font-weight: 600;
  font-size: 0.95rem;
  text-transform: capitalize;
  transition: color 0.3s ease;
  padding: 10px 30px !important;
}

.nav-link:hover {
  color: #79C142 !important;
}

/* Slider Section */

/* About Us */
.about-section {
  background: url('/assets/img/slider-bg.png') no-repeat center center/cover;
  position: relative;
  min-height: 500px;
  padding-bottom: 7rem;
}

/* .about-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay 
  z-index: 1;
} */

.about-section .container {
  position: relative;
  z-index: 2;
}

.about-heading {
  font-family: 'outfit';
  font-size: 3.2rem;
  font-weight: 700;
  color: #1961AC;
}

.about-heading span {
  font-weight: 400;
}

.about-text {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #727272;
  letter-spacing: .1em;
}

.abt-btn {
  background: #1961AC !important;
  border: none;
  border-radius: 25px;
  padding: 8px 30px;
}

/* Our Brand */
.brand-head-div {
  position: relative;
  z-index: 1;
  margin-top: 10rem;
}

.brand-clipart-img {
  position: absolute;
  left: 75%;
  right: 0px;
  top: 10%;
  transform: translateY(-50%);
  width: 30%;
  z-index: -1;
  opacity: 1;
}

.brand-heading {
  font-family: 'outfit';
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 75px;
  color: #1961AC;
}

.brand-heading span {
  font-weight: 400;
}

.box-shd {
  background-color: #E9F4E0;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 10px 6px -2px;
}

.nav-tabs .nav-link {
  color: #5b5b5b;
  font-size: 1.4rem;
  font-weight: 300;
  border: none;
}

.nav-tabs .nav-link.active {
  border-radius: 30px;
  border: 2px solid #79C142;
  background: transparent;
  color: #79c142;
  font-weight: 600;
}

/* Why Choose Us */
.why-choose-us {
  background-color: #ffffff;
  padding-top: .1rem;
  padding-bottom: 6rem;
}

.wcu-clipart-img {
  position: absolute;
  left: 85%;
  right: 0px;
  top: -70%;
  transform: translateY(-50%);
  width: 30%;
  z-index: -1;
  opacity: 1;
}

.icon-row {
  margin-top: 7rem;
}

.icon-row h5 {
  font-size: 30px;
  font-family: 'Outfit';
}

.icon-row p {
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 200;
  letter-spacing: .1rem;
}

.why-card-ftf {
  background: #1961AC;
  border: 1px solid #bbbbbb;
  border-radius: 2rem;
  padding-top: 3rem;
  position: relative;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.why-card-unc-safety {
  background: #94C83D;
  border: 1px solid #bbbbbb;
  border-radius: 2rem;
  padding-top: 3rem;
  position: relative;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.why-card-us-prac {
  background: #1961AC;
  border: 1px solid #bbbbbb;
  border-radius: 2rem;
  padding-top: 3rem;
  position: relative;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.icon-wrapper {
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Our Infra */
.blue-box {
  background-color: #0070c0;
  color: #fff;
  padding: 35px 35px;
  border-radius: 35px 0 0 0;
  max-width: 400px;
  position: relative;
  top: 90px;
  left: 34%;
}

.infrastrucutre-content {
  font-family: 'Poppins' !important;
  color: #1E1E1E;
  line-height: 32px;
  margin-top: 30px !important;
  text-align: justify;
}


/* Reviews */
.review-card-h {
  background: #fff;
  border: 1px solid #cdc5c5;
  border-radius: 20px;
  padding: 50px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: scale(0.95);
  opacity: 0.7;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.review-card-h img {
  width: 80px !important;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.review-name {
  color: #0056b3;
  font-weight: 600;
  font-size: 1.1rem;
}

.review-text {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
}

.review-card-h.center {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}

.review-clipart-img {
  position: absolute;
  left: 5%;
  right: 0px;
  top: 10%;
  transform: translateY(-50%);
  width: 25%;
  z-index: -1;
  opacity: 1;
}

.news-title {
  font-family: "Outfit";
}

.news-content {
  font-family: "Poppins";
}

/* ===============================
      Media Query Starts Here 
==================================*/

@media (max-width: 575px) {
  .abt-img {
    text-align: center;
  }

  .abt-img img {
    width: 60%;
  }

  .brand-heading {
    font-size: 2.0rem !important;
  }

  .about-heading {
    font-size: 2.0rem !important;
  }

  .abt-btn {
    padding: 5px 15px;
  }

  .about-text {
    text-align: justify;
  }

  .infrastrucutre-content {
    font-size: 16px !important;
  }

  .infrastrucutre-section {
    margin-top: 0px !important;
  }
  
  .icon-row {
    margin-top: 0px;
  }

  .icon-row h5 {
    font-size: 26px;
  }

  .icon-row p {
    font-size: 16px;
    text-align: justify;
  }

  .why-card-ftf {
    margin-bottom: 30px;
  }

 

  .why-card-unc-safety {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {

  /* About Section */
  .about-section img {
    width: 100%;
  }

  .about-heading {
    margin-top: 0 !important;
    font-size: 2rem;
  }

  .about-text {
    font-size: .7rem;
  }

  .abt-btn {
    font-size: 0.7rem;
    padding: 8px 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  body {
    overflow-x: hidden;
  }

  /* Header */
  .nav-link {
    padding: 10px 15px !important;
  }

  .search-bar {
    display: none !important;
    transition: all 0.3s ease;
  }

  /* End Header */

  /* About Section */
  .about-section img {
    width: 100%;
  }

  .about-heading {
    margin-top: 0 !important;
    font-size: 2.4rem;
  }

  .about-text {
    font-size: .9rem;
  }

  .infra-label-box {
        top: -100px;
        left: -150px;
    }

  .product-title {
    font-weight: 500 !important;
    font-size: 15px;
  }

  .brand-head-div {
    margin-top: 0 !important;
  }

  .brand-clipart-img {
    width: 30%;
    position: absolute;
    left: 75%;
    top: -130%;
  }

  .address-card {
    height: 150px !important;
    padding: 0;
}

  .address-card2 {
    height: 150px !important;
    padding: 0;
  }

  .card-body h5 {
        font-size: 17px !important;
  }

}

@media (min-width: 1200px) and (max-width: 1399px) {
  body {
    overflow-x: hidden;
  }

  /* Header */
  .nav-link {
    padding: 10px 12px !important;
  }

  /* End Header */

  /* about section */
  .about-heading {
    margin-left: 35px;
  }

  .about-text {
    margin-left: 35px;
  }

  .abt-btn {
    margin-left: 35px;
  }

  /* end about section */

  .brand-head-div {
    margin-top: 6rem;
  }

  .product-title {
    font-size: 20px;
  }

  .infra-label-box {
    top: -85px;
    left: -200px;
  }

  .address-card2 {
    padding-left: 0px;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {

  /* Header */
  .nav-link {
    padding: 10px 20px !important;
  }

  /* End Header */

  .brand-heading {
    font-size: 2.5rem !important;
  }

  .brand-head-div {
    margin-top: 3rem;
  }
}